body {
  margin: 0px;
  padding: 0px;
}

.page-body {
  width: 800px;
  height: 1122px;
  font-size: 20px;
  font-weight: bold;

  display: grid;
  grid-template-rows: 120px 1fr 50px;

  margin-left: atuto;
  margin-right: auto;
}

button {
  position: fixed;
  left: 800px;
  top: 50%;
  background-color: rgba(15, 19, 241, 0.8);
  color: white;
  font-weight: bold;
  font-size: 50px;
  border: none;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.15s, box-shadow 0.15s;
}

button:hover {
  background-color: rgba(15, 19, 241, 1);
  box-shadow: inset 8px 8px 10px rgba(0, 0, 0, 0.3);
}
button:active {
  background-color: rgb(69, 209, 26);
}

.header {
  display: grid;
  grid-template-rows: 1fr 30px;
  background-color: rgb(20, 69, 133);
  border-color: yellow;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 2px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 69, 133);
  color: white;
  letter-spacing: 15px;
}

.banner-image {
  height: 90px;
  object-fit: cover;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: yellow;
  font-size: 9px;
  align-items: end;
  padding-bottom: 5px;
  /* padding-left: 10px;
  padding-right: 10px; */
}

.body-content {
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.client-form,
.payment-form {
  padding: 10px 20px;
}

.client-form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.form-attribute-titles {
  font-size: 15px;
  font-weight: normal;
}

.client-form-first-row,
.client-form-second-row,
.client-form-third-row,
.client-form-fourth-row {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.first-row-other-half {
  display: grid;
  grid-template-columns: 350px 50px 180px;
  align-items: center;
  justify-content: space-between;
}

input {
  height: 30px;
}

.client-form-fifth-row {
  display: grid;
  grid-template-columns: 150px 250px 100px 1fr;
  align-items: center;
}
.client-email {
  margin-left: 30px;
}

.client-form input {
  border-style: solid;
  border-radius: 2px;
  background-color: rgb(221, 228, 255);
  border-bottom-width: 1px;
  border-width: 0px 0px 1px 0px;
}
